@page
@model Sportsrazorpages.Pages.Ramos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sports</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sports.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sports.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sports.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sports.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sports.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sports.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sports.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sports.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sports.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
